form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: #2e2e2edc;
}
label{
  float: left;
  margin: 5px;
}
input{
  float: right;
  margin: 5px;
}
.enviar{
  background: #8B0000;
  color: white;
}

.errorEmail, .errorPass{
  position: absolute;
}

.errorEmail{
  top: 45%;
}
.errorPass{
  bottom: 0;
}